<!DOCTYPE html>
<html>

<head>
    <title>Bible Screen Reader</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/css/foundation.min.css">
</head>

<body>
    <header>
        <!-- Include the selection context -->
        {% include selection.html %}
    </header>
    <main>
        {{content}}
    </main>
    <footer>
        <div class="button-group align-center">
            <!-- Note: links in this nav buttons are temporary-->
            <a id="prevButton" class="button" href="#">Prev</a>
            <a id="nextButton" class="button" href="#">Next</a>
        </div>

    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/foundation.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.2.6/what-input.min.js"></script>

    <!-- custom js -->
    <script src="https://wiscer.org/bible-screen-reader/dist/bundled.js"></script>
    <script defer>
        $(document).foundation();
        $(document).ready(function () {

        });
    </script>
</body>

</html>