<!DOCTYPE html>
<html>

<head>
    <title>Bible Screen Reader</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/css/foundation.min.css">
</head>

<body>
    <header>
        <!-- Include the selection context -->
        {% include selection.html %}
    </header>
    <main>
        {{content}}
    </main>
    <footer>
        <div class="button-group align-center">
            <!-- Note: links in this nav buttons are temporary-->
            <a id="prevButton" class="button"
                href="https://wiscer.org/bible-screen-reader/csb/01-genesis/genesis-018.html">Prev</a>
            <a id="nextButton" class="button"
                href="https://wiscer.org/bible-screen-reader/csb/01-genesis/genesis-019.html">Next</a>
        </div>

    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/foundation.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.2.6/what-input.min.js"></script>

    <!-- custom js -->
    <script src="https://wiscer.org/bible-screen-reader/dist/bundled.js"></script>
    <script defer>
        $(document).foundation();
        $(document).ready(function () {

            /**
             * Get the segments of the current file. Divided by the '-' and the file extension
             * @returns {Array} The segments of the current file, including the file extension.
             */
            function getFileSegments() {
                const path = window.location.pathname;
                const parts = path.split('/');
                const fileFullName = parts[parts.length - 1];
                const [fileName, fileExtension] = fileFullName.split('.')[1];
                const fileNameSegments = fileName.split('-');
                console.log('fileName:', fileName);
                console.log('fileNameSegments', fileNameSegments);
                const result = fileNameSegments.concat([fileExtension]);
                console.log(result);
                return result;
            }
            /**
             * Change the current file by changing the number according to the given 'step'
             * @param {Number} step The step to change the current file. Positive for next, negative for previous.
             */
            function stepUrlOld(step) {
                const segments = getFileSegments();
                const currentHtmlCounter = parseInt(segments[1]);
                const newHtmlCounter = currentHtmlCounter + step;
                const newFileName = segments[0] + '-' + newHtmlCounter + '.' + segments[2];

                // Replace the current file with the new one
                let newUrl = window.location.href.replace(segments[0] + '-' + currentHtmlCounter + segments[2], newFileName);
                console.log(newUrl);
                window.location.href = newUrl;
            }
            const navigateStepUrl = (step) => {
                // Change current URL with the step
                const newUrl = stepUrl(step);

                // Replace the current file with the new one
                console.log(newUrl);
                window.location.href = newUrl;
            }
            $('#prevButton').click(function () {
                stepUrl(-1);
            });
            $('#nextButton').click(function () {
                stepUrl(1);
            });
        })
    </script>
</body>

</html>